body {
    background-color: mintcream;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
textarea {
    padding: 10px;
    border: 1px solid 	#ccc;
    width: 50%;
}
input {
    border: 1px solid	#ccc;
    padding: 5px;
}
.interest-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subheader {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px; 
}
.subheader ul {
    list-style-type: square;
}

.subheader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 10px;
    transition: transform 0.4s ease;
}
.subheader:hover img {
    transform: scale(1.2);
}

.subList {
    list-style: square;
}

.catPage {
    background-image: url(NvL.gif);
    background-size: cover;
    background-position: center;
    background-color: black;
}
#title-block {
    font-size: 50px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#catButton {
    background-color: greenyellow; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#catButton:hover {
    background-color: #269a22;
}   